<h1>Signup</h1>
<form method="POST" action="/Signup">
  <input type="email" name="email_user">
  <input type="password" name="password_user">
  <input type="text" name="name_user">
  <input type="text" name="id_user_type">
  <input type="text" name="active_user">
  <input type="submit" value="submit">
</form>